NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_API_KEY=
POSTHOG_PROJECT_ID=368057
TURSO_DATABASE_URL=
TURSO_DATABASE_TOKEN=
AUTH_SECRET=
AUTH_TRUST_HOST=true
ADMIN_EMAIL=elevyg91@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAPBOX_TOKEN=
